.Main-Component {
    margin: 1% 2%;
}

.Button-Group {
    display: flex;
    justify-content: center;
}

button {
    margin: 0% 1%;
    border: none;
    font-size: 16px;
    width: 150px;
    padding: 9px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Submit-Button {
    background-color: rgb(5, 143, 5);
    /* Add other styles as needed */
    color: #fff;
}

.Submit-Button.Parsed {
    background-color: grey;
    /* Add other styles as needed */
}

.Export-Button {
    background-color: green;
    /* Add other styles as needed */
    color: #fff;
}

.Export-Button.Disabled {
    background-color: grey;
    /* Add other styles as needed */
}
.Table-Outer{
    display: flex;
    justify-content: center;
    
}
.Table {
    margin-top: 20px;
    width: 40%;
    max-height: 400px;
    overflow-y: scroll;

}

.Table h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.Table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8;
    border-radius: 4px;
    overflow: hidden;
}

.Table th,
.Table td {
    padding: 8px;
    text-align: left;
}

.Table thead {
    background-color: #e9e9e9;
}

.Table th {
    font-weight: bold;
}

.Table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Table tbody tr:hover {
    background-color: #dcdcdc;
}
.Table td:first-child {
    background-color: rgb(236, 198, 5);
    width: 30px;
  }

  .Table td:first-child:hover{
    opacity: 0.8;
  }
  